.jumbotron, .footer{
  background-color: red;
  color: #ffffff;
}

.container-fluid {
  padding: 20px;
  border-color: lightgrey;
}

kbd.standard {
  background-color: #darkgrey;
}

kbd.premium {
  background-color: red;
}

/* Glyph, by Harry Roberts */

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#sizeButton {
  padding-top: 15px;
}
